# Database
DATABASE_URL=postgresql+asyncpg://finance_user:finance_pass@localhost:5433/finance_db

# JWT
SECRET_KEY=XXXXXX
ALGORITHM=XXX
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# App
APP_NAME=Finance Dashboard API
DEBUG=True